@media (max-width: 767px)
{
	._marg 
	{
		margin-top: 50px;
	}

	.breadcrumbs
	{
		margin-top: 15px;
	}

	.text-block h2 
	{
		font-size: 28px;
	}

	.main-title
	{
		font-size: 34px;
	}

	.main-title br
	{
		display: none;
	}

	.sub-title
	{
		font-size: 18px;
		line-height: 1.35;
	}

	.page-title 
	{
		font-size: 32px;
	}


	.header
	{
		padding-bottom: 10px;
		height: 61px;
	}

	.header__phone,
	.header__search,
	.header__border
	{
		display: none;
	}

	.mob-menu-btn
	{
		display: block;
	}

	.header__wrap
	{
		position: fixed;
		left: 0;
		top: 61px;
		height: calc(100% - 61px);
		width: 100%;
		background: #2E2631;
		z-index: 99;
		padding: 25px 10px;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: .2s linear;

		overflow: hidden;
        overflow-y: auto;
	}

	.header__wrap._show
	{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.nav-menu
	{
		display: block;
	}

	.nav-menu__item + .nav-menu__item
	{
		margin-left: 0;
		margin-top: 15px;
	}

	.nav-menu__item
	{
		font-size: 20px;
		line-height: 1.1;
		font-weight: 500;
	}


	.header .socials-link 
	{
		width: 36px;
		height: 36px;
	}

	
	.header__wrap .header__search
	{
		display: block;
		margin-top: 54px;
	}

	.header__wrap .header__phone
	{
		display: block;
		margin-top: 25px;
	}


	.tabs-app__button{
		font-size: 14px;
		line-height: 17px;
		padding: 10px 8px 10px 10px;
		flex-grow: 0;

		border-radius: 10px 0 0 0;
	}

	.tabs-app__button:nth-child(2)::before{
		width: 20px;

		border-radius: 10px 0 0 0;
	}

	.tabs-app__button + .tabs-app__button {
		margin-left: 20px;
	}

	.tabs-app__button::after{
		width: 23px;
		background-image: url(../images/tab_bg_grey_mob.svg);
	}

	.tabs-app__button._active::after
	{
		background-image: url(../images/tab_bg_mob.svg);
	}


	.first-section__title 
	{
		font-size: 34px;
	}


	.first-section__box
	{
		width: 100%;
	}

	.first-section__img-box 
	{
		position: relative;
		right: 0;
		width: 326px;
		height: 461px;
		margin-left: auto;
		margin-right: auto;
	}

	.first-section__items 
	{
		display: flex;
		width: 100%;
		padding-top: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		order: 3;
	}

	.first-section__item
	{
		width: calc(50% - 2.5px);
		margin-top: 15px;
		max-width: 100%;
	}

	.first-section__item + .first-section__item 
	{
		margin-top: 15px;
	}

	.first-section__link
	{
		top: 110px;
		margin-left: -160px;
		bottom: auto;
        left: 50%;
	}


	.bg-section
	{
		padding-bottom: 30px;
	}


	.application .main-title
	{
		width: 100%;
	}

	.application__bg
	{
		padding: 36px 15px 30px;
	}

	.application__bg:before{
		-webkit-clip-path: url(../images/sprite.svg#roundedPoly_mob2);
		clip-path: url(../images/sprite.svg#roundedPoly_mob2);
	}

	.application__col:nth-child(odd) .application__bg:before{
		-webkit-clip-path: url(../images/sprite.svg#roundedPoly_mob);
		clip-path: url(../images/sprite.svg#roundedPoly_mob);
	}

	.application__item
	{
		width: 350px;
		margin: 0;
		height: auto;
	}

	.application__slider
	{
		overflow: visible;
		padding-bottom: 60px;
	}

	.application__slider .slider-button-prev,
	.application__slider .slider-button-next
	{
		display: flex;
	}

	.application__name br
	{
		display: none;
	}
	

	.advantages
	{
		margin-top: 50px;
		padding-bottom: 30px;
	}

	.advantages__items
	{
		columns: 1;
		column-gap: 0;
	}

	.advantages__box{
		min-height: 1px;
		height: auto !important;
	}

	.advantages__name{
		margin-top: 10px;
		min-height: 43px;
		line-height: 1.1;
	}

	.advantages__desc{
		margin-top: 10px;
	}


	.software
	{
		margin-top: 50px;
	}

	.software__item-wrap
	{
		width: 100%;
	}

	.software__img 
	{
		max-width: 100%;
	}


	.technical__top
	{
		width: 100%;
	}

	.technical__sub-title
	{
		max-width: 100%;
		margin-top: 5px;
	}


	.technical__item
	{
		width: calc(100% / 1 - 15px);
	}

	.technical__desc
	{
		max-width: 100%;
	}


	.main-form{
		clip-path: url('../images/sprite.svg#waveClip_mob');
		-webkit-clip-path: url('../images/sprite.svg#waveClip_mob');
	}

	.test-drive__img 
	{
		margin-left: 0px;
		width: 475px;
		top: 155px;
	}


	.page-top__info
	{
		padding: 15px;
		border-radius: 5px;
	}
	

	.integ-equipment_marg
	{
		margin-top: 50px;
	}

	.integ-equipment__slider .swiper-slide 
	{
		width: 400px;
	}

	.integ-equipment__name 
	{
		font-size: 26px;
	}

	.integ-equipment__manufacturer 
	{
		font-size: 18px;
	}

	.integ-equipment__manufacturer::before
	{
		top: 4px;
	}


	.sale-conditions__item
	{
		width: 350px;
	}

	.sale-conditions__box
	{
		padding: 20px;
	}
	
	/*------------
		commit
	------------*/
	.modal-search__top{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.modal-block__close{
		margin-left: 14px;
	}


	.products-grup__item{
		padding: 15px;
		border-radius: 5px;
	}

	.products-grup__colr{
		height: 250px;
		padding: 20px;
	}

	.products-grup__title{
		font-size: 26px;
	}

	.page-title_big{
		width: 100%;
	}

	.page-top__search{
		order: 3;
		margin-top: 17px;
	}

	.views{
		margin-top: 17px;
	}


	.products_marg{
		margin-top: 15px;
	}

	.products_marg + .products_marg{
		margin-top: 50px;
	}

	.products .main-title{
		margin-bottom: 15px;
	}

	.products__grid{
		margin: -15px 0 0 -15px;
	}

	.products__grid .product{
		margin: 15px 0 0 15px;
		width: calc(100%/2 - 15px);
	}

	.product{
		padding: 10px;
	}

	.product__thumb{
		height: 156px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.product__name{
		margin-top: 15px;
		font-size: 24px;
	}

	.product__price{
		margin-top: 15px;
		font-size: 20px;
	}

	.product__bot{
		margin-top: 15px;
	}

	.product__buy{
		width: 100%;
	}

	.product__more{
		width: 100%;
		margin-top: 9px;
	}


	.pagintion{
		margin-top: 25px;
	}


	/*------------
		footer
	------------*/
	

	.footer__contacts-box + .footer__contacts-box 
	{
		margin-left: 85px;
	}

	.footer-menu__item
	{
		width: calc(50% - 35px);
	}

	.footer__socials .socials-link
	{
		width: 35px;
		height: 35px;
		padding: 6px;
	}
}