@media (max-width: 479px)
{
	body
	{
		font-size: 14px;
	}

	.page-title
	{
		font-size: 24px;
	}

	.text-block h1,
	.text-block .title
	{
		font-size: 24px;
		margin-bottom: 15px;
	}

	.text-block h2
	{
		font-size: 22px;
		margin-bottom: 15px;
	}

	.text-block h3
	{
		font-size: 20px;
		margin-bottom: 15px;
	}

	.text-block h4
	{
		font-size: 18px;
		margin-bottom: 15px;
	}

	.text-block h5
	{
		font-size: 16px;
		margin-bottom: 10px;
	}

	.text-block h6
	{
		font-size: 14px;
		margin-bottom: 10px;
	}

	.text-block p
	{
		margin-bottom: 10px;
	}

	.text-block ul{
		font-size: 14px;
		margin-bottom: 20px;
	}


	.form__line
	{
		margin-bottom: 18px;
	}

	.form .form__input
	{
		font-size: 12px;
		font-weight: 500;
	}

	.main-title
	{
		font-size: 24px;
	}

	.sub-title
	{
		font-size: 14px;
		margin-top: 10px;
	}

	.btn-arrow
	{
		font-size: 16px;
	}

	.slider-button-prev, 
	.slider-button-next
	{
		width: 30px;
		height: 30px;
	}

	.slider-button-next._bot
	{
		left: 35px;
	}

	.slider-button-prev svg, 
	.slider-button-next svg 
	{
		width: 6px;
		height: 11px;
	}


	.header
	{
		height: 50px;
	}

	.header__logo 
	{
		max-width: 95px;
	}

	.mob-menu-btn
	{
		width: 30px;
		height: 30px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.header .socials-link 
	{
		width: 30px;
		height: 30px;
		padding: 6px;
	}

	.mob-menu-btn span + span 
	{
		margin-top: 5px;
	}

	.mob-menu-btn._active span:nth-child(1)
	{
		top: 6px;
	}

	.mob-menu-btn._active span:nth-child(3)
	{
		top: -6px;
	}


	.header__wrap
	{
		top: 50px;
        height: calc(100% - 50px);
	}


	.first-section
	{
		padding-top: 25px;
		padding-bottom: 44px;
	}

	.first-section__title
	{
		font-size: 24px;
	}

	.first-section__desc
	{
		margin-top: 5px;
		max-width: 100%;
	}

	.first-section__btns
	{
		margin-left: -27px;
	}

	.first-section__btn
	{
		margin-top: 27px;
		margin-left: 27px;
	}


	.first-section__box
	{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.first-section__img-box
	{
		height: auto;
		width: 190px;
		margin-right: -65px;
		bottom: 24px;
		margin-left: 0;
	}

	.first-section__link 
	{
		top: 27px;
		margin-left: -69px;
		line-height: 1.2;
		padding: 4px 5px 5px;
		width: 75px;
		font-size: 12px;
	}

	.first-section__link-icon
	{
		margin-top: 11px;
	}


	.first-section__items
	{
		margin-top: -10px;
		padding-top: 5px;
	}

	.first-section__text
	{
		font-size: 12px;
	}


	.bg-section
	{
		padding-top: 25px;
		padding-bottom: 20px;
	}


	.application__marg{
		margin-top: 15px;
	}

	.application__slider
	{
		padding-bottom: 50px;
	}

	.application__item,
	.application__items-inner .application__item
	{
		width: 227px;
		font-size: 20px;
		padding-bottom: 15px;
	}

	.application__name
	{
		margin-top: 20px;
		min-height: 40px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}


	.advantages
	{
		padding: 15px 15px 25px;
	}

	.advantages__items
	{
		margin-top: 10px;
	}

	.advantages__item
	{
		padding-top: 19px;
	}

	.advantages__item::after
	{
		border: 1px solid #D10D1A;
	}

	.advantages__item::before
	{
		left: 12px;
		width: 1px;
		height: calc(100% - 44px);
	}

	.advantages__box
	{
		min-height: 1px;
	}

	.advantages__number
	{
		font-size: 16px;
		line-height: 1.35;
	}

	.advantages__name
	{
		margin-top: 10px;
		font-size: 20px;
		line-height: 1.1;
	}

	.advantages__desc
	{
		font-weight: 500;
		margin-top: 15px;
	}

	.advantages__item:nth-child(1)
	{
		order: 1;
	}

	.advantages__item:nth-child(2)
	{
		order: 4;
	}

	.advantages__item:nth-child(3)
	{
		order: 2;
	}

	.advantages__item:nth-child(4)
	{
		order: 5;
	}

	.advantages__item:nth-child(5)
	{
		order: 3;
	}

	.advantages__item:nth-child(6)
	{
		order: 6;
	}
	

	.software__grid 
	{
		grid-template-columns: 1fr;
	}

	.software__item:first-child
	{
		grid-column: 1;
	}

	.software__item-wrap
	{
		padding-bottom: 35px;
	}

	.software__btns
	{
		margin-top: 7px;
	}

	.software__item
	{
		padding-bottom: 15px;
	}

	.software__name
	{
		font-size: 18px;
		line-height: 1.1;
	}

	.software__desc
	{
		margin-top: 5px;
	}

	.software__item._big
	{
		display: none;
	}

	.software__top
	{
		position: relative;
		padding-right: 125px;
	}

	.software__top-img
	{
		display: flex;
	}


	.technical__items
	{
		margin-top: 18px;
	}

	.technical__desc
	{
		font-size: 16px;
	}


	.test-drive__btn
	{
		margin-top: 15px;
	}

	.test-drive__img 
	{
		margin-left: -6px;
		width: 308px;
		top: 180px;
	}

	.main-form
	{
		padding: 35px 15px 24px;
	}

	.affiliate-form__desc
	{
		margin-top: 10px;
	}

	.affiliate-form__flex
	{
		margin-top: 15px;
	}

	.affiliate-form__flex .form__line 
	{
		width: 100%;
	}

	.affiliate-form__agree
	{
		margin-top: -8px;
	}

	.affiliate-form__flex .form__submit-btn
	{
		margin-top: 20px;
	}


	.page-top__info
	{
		padding: 10px;
	}


	.integ-equipment__slider
	{
		padding-bottom: 50px;
	}

	.integ-equipment__slider .swiper-slide 
	{
		width: 300px;
	}

	.integ-equipment__slider .slider-button-prev, 
	.integ-equipment__slider .slider-button-next
	{
		top: auto;
		bottom: 0;
	}

	.integ-equipment__slider .slider-button-prev
	{
		left: 50%;
		margin-left: -32.5px;
	}

	.integ-equipment__slider .slider-button-next
	{
		right: 50%;
		margin-right: -32.5px;
	}

	.integ-equipment__name 
	{
		font-size: 20px;
	}

	.integ-equipment__img
	{
		padding: 15px;
	}

	.integ-equipment__manufacturer
	{
		font-size: 16px;
		line-height: 1.35;
		margin-top: 5px;
		width: calc(50% - 2.5px);
	}

	.integ-equipment__manufacturer::before
	{
		top: 7px;
	}

	.integ-equipment__bot
	{
		margin-top: 25px;
	}

	.integ-equipment__desc
	{
		font-size: 14px;
	}


	.about__item
	{
		padding: 10px;
	}

	.about__item.about__item-img
	{
		padding: 27px;
	}


	.about-info__title
	{
		font-size: 20px;
		text-align: left;
	}

	.about-info__bg
	{
		padding: 20px 15px 20px;
		clip-path: url('../images/sprite.svg#waveClip2_mob');
		-webkit-clip-path: url('../images/sprite.svg#waveClip2_mob');
	}


	.articles__slider
	{
		margin-top: 15px;
		padding-bottom: 46px;
	}

	.articles__slider .swiper-slide
	{
		width: 300px;
	}

	.articles__img img
	{
		aspect-ratio: 300 / 200;
	}

	.articles__name
	{
		font-size: 20px;
	}

	.articles__link
	{
		margin-top: 25px;
	}


	.articles__slider .slider-button-next
	{
		top: auto;
		bottom: 0;
		margin-top: 0;
		right: auto;
		left: 36px;
	}

	.articles__slider .slider-button-prev
	{
		top: auto;
		bottom: 0;
		margin-top: 0;
		left: 0;
	}

	.slider-button-prev._dark.swiper-button-disabled,
	.slider-button-next._dark.swiper-button-disabled
	{
		border-color: #fff;
		background: none;
	}


	.history__slider
	{
		margin-top: 15px;
		padding-bottom: 46px;
	}

	.history__slider .slider-button-next._top
	{
		top: auto;
		bottom: 0;
		margin-top: 0;
		right: auto;
		left: 36px;
	}

	.history__slider .slider-button-prev._top
	{
		top: auto;
		bottom: 0;
		margin-top: 0;
		left: 0;
	}

	.history__bg
	{
		margin-top: 10px;
		padding-bottom: 15px;
	}
	

	.video::before
	{
		width: 38px;
		height: 38px;

		margin-top: -19px;
		margin-left: -19px;
	}

	.video::after 
	{
		margin-left: 2px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 12px solid #fff;
	}


	.history__name
	{
		font-size: 20px;
	}


	.contacts__box
	{
		padding: 15px;
	}

	.contacts__item
	{
		width: 100%;
		margin-top: 15px;
	}

	.contacts__icon
	{
		width: 25px;
		height: 25px;
	}

	.contacts__info,
	.contacts__socials + .contacts__desc
	{
		margin-top: 5px;
	}

	.contacts__desc
	{
		font-size: 12px;
	}

	.contacts__socials-link
	{
		width: 33px;
		height: 33px;
	}
	
	.contacts__map
	{
		height: 224px;
	}


	.app-info__slider
	{
		padding-bottom: 55px;
	}

	.app-info__slider .slider-button-next
	{
		left: 35px;
	}

	.app-info__item
	{
		padding: 10px;
		width: 300px;
	}

	.app-info__icon 
	{
		width: 60px;
		height: 60px;
	}

	.app-info__name 
	{
		font-size: 20px;
	}

	.app-info__link
	{
		margin-top: 25px;
	}


	.product-info__list
	{
		margin-top: 15px;
	}

	.product-info__list li + li
	{
		margin-top: 5px;
	}

	.product-info__list li
	{
		font-size: 16px;
	}

	.product-info__list li::before
	{
		top: 6px;
	}

	.product-info__price
	{
		font-size: 24px;
		margin-top: 15px;
	}

	.product-info__btns
	{
		margin-left: -15px;
	}

	.product-info__btn
	{
		margin-top: 15px;
		margin-left: 15px;
	}


	.features__info
	{
		margin-top: 25px;
	}

	.features__top
	{
		padding: 15px;
	}

	.features__table tr td:first-child
	{
		font-size: 18px;
	}

	.features__btns
	{
		margin-top: -20px;
	}
	/*------------
		commit
	------------*/
	.products-grup__colr{
		height: 170px;
		padding: 10px;
	}

	.products-grup__title{
		font-size: 20px;
	}

	.products-grup__desc{
		margin-top: 5px;
		font-size: 14px;
	}


	.views{
		flex-wrap: wrap;
	}

	.views__name{
		margin-right: 0;
		font-size: 12px;
		margin-bottom: 15px;
		width: 100%;
	}

	.views__flex{
		width: calc(100% + 10px);
		margin-left: -10px;
	}

	.products__grid{
		margin: -15px 0 0;
	}

	.products__grid .product{
		margin-left: 0;
		width: 100%;
	}

	.product{
		padding: 15px;
	}

	.inform-section__coll{
		-webkit-clip-path: url(../images/sprite.svg#infoClip_mob);
		clip-path: url(../images/sprite.svg#infoClip_mob);
		padding: 25px 13px 16px 15px;
	}


	.interface__slider .slider-button-prev._dark.swiper-button-disabled,
	.interface__slider .slider-button-next._dark.swiper-button-disabled {
		border-color: #423945;
		background: #423945;
	}


	/*------------
		footer
	------------*/

	.footer
	{
		padding-top: 25px;
	}

	.footer__logo
	{
		width: 140px;
	}

	.footer__socials .socials-link 
	{
		width: 30px;
		height: 30px;
		padding: 7px;
	}

	.footer__title
	{
		font-size: 12px;
	}

	.footer__contacts
	{
		margin-top: 22px;
	}

	.footer__contacts-box
	{
		display: block;
	}

	.footer__contacts-box + .footer__contacts-box 
	{
		margin-left: 35px;
	}

	.footer__contacts-info
	{
		font-size: 16px;
		margin-top: 16px;
	}

	.footer__contacts .footer__title
	{
		flex: auto;
	}

	.socials 
	{
		margin: -5px 0 0 -5px;
	}

	.socials-link
	{
		margin: 5px 0 0 5px;
	}

	.footer-menu
	{
		margin-top: 0;
		margin-left: -14px;
	}

	.footer-menu__item 
	{
		width: auto;
		margin-left: 14px;
		margin-top: 25px;
	}

	.footer-menu__item._mob-width
	{
		width: calc(100% - 14px);
	}

	.footer-menu__item + .footer-menu__item
	{
		margin-left: 14px;
	}

	.footer-menu__links
	{
		margin-top: 10px;
	}

	.footer-menu__link + .footer-menu__link
	{
		margin-top: 5px;
	}

	.footer__bot
	{
		margin-top: 25px;
	}
}