@media (max-width: 1023px)
{
	._marg
	{
		margin-top: 60px;
	}


	.text-block h1,
	.text-block .title
	{
		font-size: 38px;
	}

	.text-block h2
	{
		font-size: 34px;
	}

	.text-block h3
	{
		font-size: 28px;
	}

	.text-block h4
	{
		font-size: 24px;
	}

	
	.main-title 
	{
		font-size: 38px;
	}

	.sub-title
	{
		font-size: 20px;
	}

	.sub-title_small
	{
		font-size: 20px;
		line-height: 1.1;
		font-weight: 500;
	}

	.page-title
	{
		font-size: 38px;
	}


	.btn-red._pad 
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.breadcrumbs
	{
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 12px;
		line-height: 1.2;
	}

	.page-top__flex
	{
		flex-wrap: wrap;
	}

	.page-title{
		width: 100%;
	}

	.page-title_big {
		width: calc(100% - 230px);
	}

	.page-top__info
	{
		margin-left: 0;
		width: 100%;
		margin-top: 25px;
	}



	.header
	{
		padding-top: 10px;
		padding-bottom: 25px;
	}

	.header__search
	{
		width: 32px;
		height: 32px;

		order: 5;
	}

	.header__logo
	{
		max-width: 156px;
	}

	.header__phone
	{
		font-size: 20px;
	}

	.header .socials 
	{
		margin: -7px 0 0 -7px;
	}

	.header .socials-link 
	{
		width: 41px;
		height: 41px;
		margin: 7px 0 0 7px;
	}

	.header__wrap
	{
		width: calc(100% - 79px);
		order: 4;
	}

	.nav-menu__item
	{
		font-size: 12px;
	}

	.nav-menu__item + .nav-menu__item
	{
		margin-left: 30px;
	}

	.header__border
	{
		display: block;
	}



	.first-section .cont
	{
		align-items: stretch;
		align-content: stretch;
	}


	.first-section
	{
		padding-top: 35px;
		padding-bottom: 47px;
		margin-bottom: -20px;
	}

	.first-section__wrap
	{
		width: 100%;
		padding-top: 0;
	}

	.first-section__title
	{
		font-size: 38px;
	}

	.first-section__btns
	{
		margin-top: 0;
		margin-left: -28px;
	}

	.first-section__btn
	{
		margin-left: 28px;
	}


	.first-section__box
	{
		width: 374px;
		order: 3;
	}


	.first-section__items
	{
		display: block;
		width: 50%;
		margin-top: 15px;
		border: none;
	}

	.first-section__item + .first-section__item
	{
		margin-top: 20px;
	}


	.first-section__img-box
	{
		position: absolute;
		right: 7px;
		bottom: 0;

		width: 326px;
        height: 461px;
		padding-left: 0;
	}

	.first-section__link
	{
		bottom: 46px;
		left: -14px;
		padding-top: 10px;
	}

	.first-section__link-icon
	{
		margin-top: 5px;
	}


	.bg-section
	{
		border-radius: 15px;
	}


	.application .main-title
	{
		width: 46%;
		margin-left: 0;
	}

	.application__marg{
		margin-top: 27px;
	}

	.application__item
	{
		padding-bottom: 30px;
		width: calc(50% - 7.5px);
		margin-top: 15px;
	}

	.application__name
	{
		font-size: 28px;
	}

	.application__bg-inner
	{
		padding: 35px 35px 30px;
	}

	.application__items-inner,
	.application__items-four
	{
		margin: -15px 0 0 -15px;
	}

	.application__items-inner .application__item,
	.application__items-four .application__item
	{
		width: calc(100% / 2 - 15px);
		margin-top: 15px;
		margin-left: 15px;
	}

	.application__tabs_mob
	{
		display: flex;
	}

	.application__col
	{
		visibility: hidden;
		overflow: hidden;

		height: 0;

		opacity: 0;

		padding: 0;

		width: 100%;
	}

	.application__title
	{
		display: none;
	}

	.application__bg
	{
		padding: 10px 52px 57px 35px;
	}

	.application__bg:before{
		-webkit-clip-path: url(../images/sprite.svg#roundedPoly_tablet2);
		clip-path: url(../images/sprite.svg#roundedPoly_tablet2);
	}

	.application__col:nth-child(odd) .application__bg:before{
		-webkit-clip-path: url(../images/sprite.svg#roundedPoly_tablet);
		clip-path: url(../images/sprite.svg#roundedPoly_tablet);
	}

	.application__name
	{
		margin-top: 62px;
	}


	.advantages
	{
		padding: 25px 25px 45px;
		border-radius: 15px;
	}

	.advantages__col
	{
		width: 100%;
	}

	.advantages__items
	{
		margin-top: 5px;
		column-gap: 16px;
	}

	.advantages__item
	{
		padding-left: 39px;
	}

	.advantages__name
	{
		font-size: 28px
	}

	.advantages__box
	{
		min-height: 204px;
	}

	.advantages__col:nth-child(2)
	{
		width: 100%;

		justify-content: center;
		margin-top: 43px;
	}

	.advantages__img
	{
		display: none;
	}

	.advantages__img-mob
	{
		display: block;
	}


	.software
	{
		margin-top: 60px;
	}

	.software__grid 
	{
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.software__item
	{
		border-radius: 10px;
	}

	.software__item._big 
	{
		grid-column: auto;
		grid-row: auto;
	}

	.software__item:first-child
	{
		grid-column: 1 / 3;
		order: 1;
	}

	.software__item:nth-child(2)
	{
		order: 3;
	}

	.software__item:nth-child(3)
	{
		order: 2;
	}

	.software__item:nth-child(4)
	{
		order: 4;
	}

	.software__item:nth-child(5)
	{
		order: 5;
	}

	.software__item-wrap
	{
		width: calc(50% - 7.5px);
		padding-bottom: 10px;
	}

	.software__item
	{
		padding: 15px 15px 34px;
	}

	.software__name
	{
		font-size: 20px;
	}

	.software__desc
	{
		font-size: 14px;
	}

	.software__item._big
	{
		padding-bottom: 15px;
		min-height: 300px;
	}

	.software__img 
	{
		max-width: 246px;
	}


	.technical__top
	{
		margin-left: 0;
	}

	.technical__items
	{
		margin-left: -15px;
		margin-top: 10px;
	}

	.technical__item 
	{
		width: calc(100% / 3 - 15px);
		margin: 15px 0 0 15px;
		border-radius: 10px;
		padding: 15px;
	}

	.technical__name
	{
		line-height: 1.1;
	}

	.technical__name br
	{
		display: none;
	}

	.technical__desc
	{
		margin-top: 10px;
	}

	.technical__desc br
	{
		display: none;
	}

	.technical__img
	{
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;

		transform: none;

		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin-top: 20px;
	}

	.technical__sub-title
	{
		max-width: 330px;
	}

	.technical__sub-title br
	{
		display: none;
	}

	.test-drive__top
	{
		text-align: left;
	}

	.test-drive__sub-title
	{
		margin-top: 17px;
	}

	.test-drive__btn
	{
		margin-top: 35px;
	}

	.test-drive__img
	{
		margin-left: 57px;
		width: 620px;
		top: 126px;
	}

	.main-form
	{
		padding: 47px 25px 18px;
		clip-path: url('../images/sprite.svg#waveClip_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClip_tablet');
	}

	.main-form._main-form_inner
	{
		clip-path: url('../images/sprite.svg#waveClipBgTablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipBgTablet');
	}
	
	.main-form_marg
	{
		margin-top: 315px;
	}

	.main-form__flex .form__line
	{
		width: 100%;
	}

	.affiliate-form__top._max-width
	{
		max-width: 480px;
	}

	.affiliate-form__sub-title
	{
		margin-top: 25px;
	}
	
	.affiliate-form__desc span
	{
		font-weight: 700;
	}


	.affiliate-form__flex
	{
		margin-top: 26px;
	}

	.affiliate-form__flex .form__line 
	{
		width: calc(50% - 3.5px);
	}

	.affiliate-form__flex .form__submit-btn
	{
		width: 200px;
		order: 4;
		margin-top: 28px;
	}


	.affiliate-form__cols .main-form
	{
		width: 100%;
	}

	.affiliate-form__img
	{
		width: 100%;
		margin-top: 30px;
	}

	.affiliate-form__img img
	{
		position: relative;
		aspect-ratio: 748 / 594;
	}


	.section-map__bg
	{
		border-radius: 15px
	}


	.integ-equipment_marg
	{
		margin-top: 60px;
	}

	.integ-equipment__slider
	{
		overflow: visible;
	}

	.integ-equipment__slider .swiper-slide
	{
		width: 436px;
	}

	.integ-equipment__name
	{
		font-size: 28px;
	}

	.integ-equipment__manufacturer
	{
		font-size: 20px;
	}

	.integ-equipment__manufacturer::before 
	{
		top: 7px;
	}

	.integ-equipment__desc
	{
		font-size: 16px;
	}


	.sale-conditions__item
	{
		width: 450px;
	}

	.sale-conditions__box 
	{
		padding: 25px 54px 25px 25px;
	}


	.about__item
	{
		width: 100%;
	}

	.about__item.about__item-img
	{
		padding: 50px;
	}

	.about-info__bg
	{
		padding: 40px 64px 35px;
		clip-path: url('../images/sprite.svg#waveClip2_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClip2_tablet');
	}

	.about-info__title
	{
		font-size: 32px;
	}

	.about-info__title br
	{
		display: none;
	}


	.articles__slider .swiper-slide
	{
		width: 333px;
	}

	.articles__name
	{
		font-size: 24px;
	}


	.contacts__box
	{
		width: 100%;
		padding: 35px;
	}

	.contacts__info
	{
		font-size: 28px;
	}

	.contacts__map
	{
		width: 100%;
		margin-top: 20px;
		height: 434px;
	}


	.history__slider .slider-button-next._top
	{
		top: 50%;
		right: 10px;
		margin-top: -70px;
	}

	.history__slider .slider-button-prev._top
	{
		top: 50%;
		right: 100%;
		left: 10px;
		margin-top: -70px;
	}


	.app-info__item
	{
		width: 685px;
		padding: 25px;
	}

	.app-info__icon
	{
		width: 77px;
		height: 77px;
	}

	.app-info__info 
	{
		padding-left: 45px;
		width: calc(100% - 77px);
	}

	.app-info__name
	{
		font-size: 28px;
	}

	.app-info__link
	{
		margin-top: 42px;
	}


	.product-info__image
	{
		width: 100%;
		max-width: 532px;
	}

	.product-info__info
	{
		width: 100%;
		margin-top: 35px;
	}

	.features__item + .features__item
	{
		margin-top: 15px;
	}

	.text-block table tr td
	{
		vertical-align: top;
		padding-top: 15px;
		padding-bottom: 15px;
		height: auto;
		width: 50%;
	}

	.features__btns
	{
		margin-top: -15px;
	}


	.soft-consists__bg
	{
		padding-bottom: 25px;

		clip-path: url('../images/sprite.svg#waveClip3_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClip3_tablet');
	}


	.firmware__items
	{
		grid-template-columns: calc(43.2% - 10px) calc(56.8% - 10px);
		gap: 20px;
	}

	.firmware__item._big 
	{
		grid-column: 2;
		grid-row: 2 / 4;
	}

	.firmware__bg-white
	{
		padding: 25px 25px 22px;

		clip-path: url('../images/sprite.svg#waveClipFirmwareWhite_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipFirmwareWhite_tablet');
	}

	.firmware__desc-marg, 
	.firmware__desc-marg2
	{
		margin-top: 25px;
	}

	.firmware__desc, 
	.firmware__desc-big
	{
		font-size: 20px;
	}

	.firmware__item._green
	{
		padding: 25px 25px 20px;
		clip-path: url('../images/sprite.svg#waveClipFirmwareGreen_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipFirmwareGreen_tablet');
	}

	.firmware__item._grey
	{
		padding-top: 25px;
	}

	.firmware__item._grey::before
	{
		height: 100%;

		clip-path: url('../images/sprite.svg#waveClipFirmwareGrey_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipFirmwareGrey_tablet');
	}


	.interface-program__iteml
	{
		width: 100%;
		max-width: 100%;
	}

	.interface-program__desc
	{
		padding: 25px;
		font-size: 20px;
	}

	.interface-program__itemr
	{
		margin-top: 25px;
		width: 100%;
		max-width: 100%;
	}

	.interface-program__desc._tablet-width
	{
		max-width: 570px;
	}


	.func-soft .cont
	{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.func-soft__top
	{
		width: 100%;
		float: none;
	}

	.func-soft__bg
	{
		width: 100%;
		float: none;
		padding: 35px 35px 66px;

		clip-path: url('../images/sprite.svg#waveClipFunc_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipFunc_tablet');
	}

	.func-soft__video-box
	{
		width: 100%;
		max-width: 350px;
		float: none;
		order: 3;
		margin-top: 25px;
	}


	.software-info__items 
	{
		margin-top: -18px;
		margin-left: -18px;
	}

	.software-info__item 
	{
		margin-top: 18px;
		margin-left: 18px;
		width: calc(100% / 3 - 18px);
		padding: 15px;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
	}

	.software-info__desc
	{
		width: 100%;
		flex: 1 0 auto;
	}

	.software-info__icon
	{
		margin-top: 25px;
		width: 106px;
		height: 106px;
		justify-content: flex-start;
		align-items: flex-end;
		align-content: flex-end;
	}


	.demo-version__item
	{
		padding: 25px;
	}

	.demo-version__name
	{
		margin-top: 30px;
	}


	.control-cap__bg
	{
		padding-left: 25px;
		padding-right: 25px;
	}

	.control-cap__coll
	{
		width: 100%;
		max-width: 100%;
	}

	.control-cap__colr
	{
		width: 100%;
		margin-top: 25px;
	}

	.control-cap__img
	{
		aspect-ratio: 385 / 250;
	}


	.system-func__bg
	{
		padding: 35px 25px;

		clip-path: url('../images/sprite.svg#waveClipSystem_tablet');
		-webkit-clip-path: url('../images/sprite.svg#waveClipSystem_tablet');
	}

	.application__items.application__items-marg 
	{
		margin-top: 10px;
	}
	/*------------
		commit
	------------*/
	.products-grup_marg{
		margin-top: 25px;
	}

	.products-grup__item{
		flex-wrap: wrap;
	}

	.products-grup__item + .products-grup__item{
		margin-top: 25px;
	}

	.products-grup__coll{
		width: 100%;
	}

	.products-grup__wrap{
		max-width: none;
	}

	.products-grup__colr{
		width: 100%;
		max-width: none;
		margin: 25px 0 0;
	}


	.products__grid{
		margin: -28px 0 0 -28px;
	}

	.products__grid .product{
		margin: 28px 0 0 28px;
		width: calc(100%/2 - 28px);
	}


	.pagintion{
		margin-top: 35px;
	}


	.inform-section__flex{
		flex-wrap: wrap;
	}

	.inform-section__colr{
		width: 100%;
	}


	.page-top__coll{
		width: 100%;
		max-width: none;
	}

	.page-top__cols .text-block{
		max-width: none;
	}

	.page-top__colr{
		width: 100%;
		max-width: none;
		margin-top: 25px;
	}


	.interface_bg{
		max-width: calc(100% - 20px);
		padding: 35px 10px 20px;
		border-radius: 15px;
	}

	.interface__top{
		max-width: none;
		margin-bottom: 30px;
	}

	.interface__slider{
		width: 100%;
		max-width: none;
		overflow: visible;
	}

	.interface__slider .swiper-wrapper{
		min-height: 1px;
	}

	.interface__slider .swiper-slide{
		width: 296px;
	}

	.interface__slider_big .swiper-slide{
		width: 443px;
	}

	.interface__line{
		display: none;
	}

	.interface__video{
		display: none;
	}

	.interface__link{
		order: 3;
		margin: 35px 0 0;
	}


	.interface + .interface{
		margin-top: 60px;
	}


	.top-info__flex{
		flex-wrap: wrap;
	}

	.top-info__colr{
		width: 100%;
		max-width: none;
	}

	.breadcrumbs.breadcrumbs_white{
		padding-bottom: 25px;
	}

	.top-info_white{
		padding-top: 0;
	}


	.text-block__col{
		width: 100%;
	}

	.text-block__col._small{
		width: 100%;
	}

	.text-block__col._big{
		width: 100%;
	}

	.gallery-slider{
		margin-top: 25px;
		overflow: visible;
	}

	.gallery-slider .swiper-slide{
		width: 333px;
	}


	/*------------
		footer
	------------*/

	.footer
	{
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.footer__coll
	{
		width: 100%;
	}

	.footer__colr
	{
		width: 100%;
		padding-left: 0;
		border: none;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding-top: 0;
	}

	.footer-menu
	{
		width: 100%;
		order: 2;
		margin-top: 7px;
		justify-content: flex-start;
		margin-left: -35px;
	}

	.footer-menu__item
	{
		margin-left: 35px;
		margin-top: 35px;
	}

	.footer-menu__item + .footer-menu__item
	{
		margin-left: 35px;
	}

	.footer__contacts
	{
		margin-top: 25px;
	}

	.footer__contacts-box + .footer__contacts-box 
	{
		margin-left: 146px;
	}

	.footer__socials
	{
		margin-top: 14px;
	}

	.footer__bot
	{
		position: relative;
		order: 3;
		width: 100%;
		margin-top: 35px;
	}
}