@media (max-width: 1439px)
{
    .header__phone
	{
		font-size: 18px;
	}

    .application__item
	{
		font-size: 24px;
	}

	.advantages__name
	{
		font-size: 24px;
	}

	.technical__name
	{
		font-size: 24px;
	}

	.software__name
	{
		font-size: 24px;
	}


	.integ-equipment__manufacturer
	{
		font-size: 18px;
	}

	.integ-equipment__manufacturer::before
	{
		top: 4px;
	}


	.sale-conditions__box 
	{
		padding: 25px 25px 30px 25px;
	}


	.history__name
	{
		font-size: 30px;
	}

	/*------------
		commit
	------------*/
}